html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
.navbar {
  margin-bottom: 10px;
}
.navbar-brand {
  float: none;
}
.navbar-nav .nav-item {
  float: none;
}
.navbar-divider,
.navbar-nav .nav-item+.nav-item,
.navbar-nav .nav-link + .nav-link {
  margin-left: 0;
}
@media (min-width: 34em) {
  .navbar-brand {
    float: left;
  }
  .navbar-nav .nav-item {
    float: left;
  }
  .navbar-divider,
  .navbar-nav .nav-item+.nav-item,
  .navbar-nav .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

section#coupon {
	background: url("../img/bk-freeze.jpg");
	text-align: center;
	color: white;
}

img {
	display: block;
	margin: auto;
}

div.section-heading {
	margin-bottom: 20px;
}

div.coupon-comment {
	margin-top: 20px;
	margin-bo: 20px;
	color: gray;
	background: white;
	border-radius: 10px;
	padding: 5px 40px 20px;
}

div.coupon-comment>h3{
	margin-top: 20px;
}
